.navbar {
    width: 15%;
    background-color: #CFB38C;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-bottom: 20px;
    font-family: 'Josefin Sans';
    height: 1850px;

    .navbar_menu {
        list-style: none;
        padding: 0;
        width: 100%;

        .menu_item_active {
            background-color: #60443A;
            color: white;
            padding: 10px 20px;
            padding-bottom: 20px;
            cursor: pointer;
            font-size: 25px;
            display: block;
            align-items: center;
            gap: 10px;
        }

        .menu_item {
            padding: 10px 20px;
            padding-bottom: 20px;
            cursor: pointer;
            font-size: 25px;
            display: block;
            align-items: center;
            gap: 10px;

            &:hover {
                background-color: #60443A;
                color: white;
            }

            .submenu {
                list-style: none;
                display: block;

                li {
                    padding-top: 20px;
                    padding-bottom: 20px;
                    font-size: 20px;

                    &:hover {
                        color: hsl(21, 84%, 65%);
                    }
                }
            }
        }
    }
}