.headTitle{
    position: absolute;
    left: 50%;
    top: 2%;
    font-family: "Josefin Sans";
    color: #60443a;
}
.header{
    position: absolute;
    left: 20%;
    top: 10%;
    font-family: "Josefin Sans";
    color: #60443a;
}
.title {
    position: absolute;
    left: 20%;
    top: 25%;
    font-family: "Josefin Sans";
    color: #60443a;
}

.table {
    position: absolute;
    left: 20%;
    top: 30%;
    border-collapse: collapse;
    width: 70%;
    padding: 5px 10px;
    font-family: "Josefin Sans";

    td,
    th {
        border: 2px solid #60443a;
        padding: 8px;
    }

    tr {
        background-color: #fff;
        text-align: center;
    }

    tr:hover {
        background-color: #fff2e3;
    }

    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: #60443a;
        color: white;
        font-size: 20px;
    }

    input {
        text-align: center;
    }
}
.btnConfirmDefectiveOrder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    margin-top: 0;
    position: relative;
    font-family: "Josefin Sans", sans-serif;
    width: 120px;
    height: 40px;
    background-color: #f2f2f2;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.btnConfirmDefectiveOrder::before {
    content: "Xử lý"; 
    font-size: 16px; 
    color: inherit; 
    text-align: center; 
    display: block; 
    width: 100%; 
}
.btnConfirmDefectiveOrder:hover {
    background-color: #a67969;
    color: #fff;
}
