.home {
    position: absolute;
    left: 20%;
    top: 15%;
    font-family: "Josefin Sans";
    font-size: 50px;
    color: #60443a;
}

.sub {
    position: absolute;
    left: 20%;
    top: 40%;
    font-family: "Josefin Sans";
    font-size: 20px;
}
