.title {
    position: absolute;
    left: 20%;
    top: 30%;
    font-family: "Josefin Sans";
    color: #60443a;
}

.table {
    table-layout: fixed;
    position: absolute;
    margin-left: 30%;
    margin-top: -101%;
    border-collapse: collapse;
    width: 60%;
    padding: 5px 10px;
    font-family: "Josefin Sans";
    td {
        height: 70px;
        border-collapse: collapse;
    }
    td,
    th {
        border: 2px solid #60443a;
        padding: 8px;
    }

    tr {
        background-color: #fff;
        text-align: center;
    }

    tr:hover {
        background-color: #fff2e3;
    }

    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: #60443a;
        color: white;
        font-size: 20px;
    }
    input {
        text-align: center;
    }
}
.update {
    display: flex;
    gap: 5px;
}
.update input {
    justify-content: center;
    align-items: center;
}
.add {
    &:hover {
        background-color: #a68174;
    }
}
